@import "variables";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";
@import "utilities/deleteCardButton";
@import "components/quickView";

.promo-code-form-custom {
    visibility: hidden;
}


#hide {
    appearance: none;
    -webkit-appearance: none;
}

#hide:checked~form {
    visibility: visible;
}

#hide:checked+label {
    display: none;
}
